# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
dist/
build/
*.egg

# Static files - if you have a folder for them
# static/

# Downloads folder - typically you don't commit downloaded content
downloads/
downloads/temp_audio_staging/

# Cookie files
cookies/

# Log files
*.log
*.mp4

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
*.tmp 